{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * language-data-copy plugin for Craft CMS 3.x
 *
 * language-data-copy index.twig
 *
 * @author    Mariusz Stróż
 * @copyright Copyright (c) 2018 Mariusz Stróż
 * @link      inwave.pl
 * @package   Languagedatacopy
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# do view.registerAssetBundle("mrstroz\\languagedatacopy\\assetbundles\\languagedatacopy\\LanguagedatacopyAsset") #}
{% do view.registerAssetBundle("mrstroz\\languagedatacopy\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/https://github.com/mrstroz/craft-language-data-copy/language-data-copy/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Language data copy" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('language-data-copy') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@mrstroz/languagedatacopy/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% block header %}
    {{ block('pageTitle') }}
    <div class="flex-grow"></div>
    <div class="flex-grow"></div>
    {{ block('actionButton') }}
{% endblock %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('language-data-copy') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('language-data-copy') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
